<h1 style= "color:#85bb65">Investments</h1>

    <% @investments.each do |investment| %>
      <div class="card">
        <p><a href="/investments/<%= investment.id %>"><%= investment.name %></a></p>
        <p>Current Price: <%= investment.price %></p>
        <p>Industry Sector: <%= investment.sector %></p>
      </div>
    <% end %>
