<h1 style= "color:#85bb65">Energy Investments</h1>

    <% @energyinvestments.each do |energyinvestment| %>
      <div class="card">
        <p><a href="/investments/<%= energyinvestment.id %>"><%= energyinvestment.name %></a></p>
        <p>Current Price: <%= energyinvestment.price %></p>
        <p>Industry Sector: <%= energyinvestment.sector %></p>
      </div>
    <% end %>
