@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

 .card {
   background-color: #EEE;
   border-radius: 5px;
   padding: 10px;
   margin: 10px;
   display: inline-block;
   vertical-align: middle;
 }

.navbar-inverse .navbar-brand {
  color: #85bb65;
}

.navbar-inverse .navbar-nav > li > a {
  color: #85bb65;
}